// STYLES
// Estilos generales
.SiteMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
        font-family: "Open Sans", sans-serif;
        display: block;
        padding: 0 12px;
        font-weight: 400;
        text-decoration: none;
        &.is-toggle {
            display: flex;
            justify-content: space-between;
            padding-right: 0;
        }
    }
}

// Estilos en el menu mobile
.SiteMenu {
    @include to(l) {
        &-wrapper {
            background: rgba(black, 0.5);
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: 9999;
            left: -100vw;
            top: 0;
        }
        &-content {
            width: 220px;
            background: var(--snColorDarker);
            color: var(--snColorDarkInverse);
            height: 100vh;
        }
        &-header {
            padding: 12px 20px;
        }
        &-footer{
            padding: 12px 20px;
            a {
                width: 100%;
                display: block;
                margin-bottom: 1rem;
            }
        }
        a {
            color: var(--snColorDarkInverse);
            padding: 12px 30px 12px 20px;
            &:hover {
                background: var(--snColorDarkest);
            }
        }
    }
}

// Cuando se a
.SiteMenu-is-show {
    .SiteMenu-wrapper {
        left: 0;
    }
}

// Estilos en el escritorio
.SiteMenu {
    @include from(l) {
        &-content {
            display: flex;
            align-items: center;
        }
        &-header {
            display: none;
        }
        &-footer{
            margin-left: 1rem;
            .toRegister{
                margin-left: 8px;
            }
        }

        // Active
        li.is-active {
            & > a {
                // color: var(--snColor1Inverse);
            }
        }

        // Level 1
        & > li {
            & > a {
                line-height: $siteHeaderHeight;
                height: $siteHeaderHeight;
                color: var(--snColorText);
                &:hover {
                    color: var(--snColor1);
                    // background: var(--snColorDark);
                }
            }
            &.is-active {
                position: relative;
            }
        }

        // Sub menu
        li ul {
            background: var(--snColorBgAlt);
            min-width: 230px;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            right: 0;

            border-top: 2px solid var(--snColor1);
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075);

            a {
                &:hover {
                    background: var(--snColorHover);
                    color: var(--snColor1);
                }
            }
        }
    }
}

// SiteMenu - toggle
#SiteMenu-toggle {
    font-size: 1.2rem;
    cursor: pointer;
    height: $siteHeaderHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    &:hover {
        background: var(--snColorHover);
    }
    @include from(l) {
        display: none;
    }
}
