@import "../node_modules/sedna/bin/sedna";
@import "_postConfig";

@include SnBase();
@import "_base";

@include SnBtn();
@include SnAlert();
@include SnCard();
@include SnForm();
@include SnControl();
@include SnMargin();
@include SnSwitch();
@include SnMenu(l,'.SiteMenu');
@include SnMessage();
@include SnAvatar();

$siteHeaderHeight: 56px;
@import "site/SiteLayout";
@import "site/Login";
@import "site/Result";
@import "site/SiteHeader";
@import "site/SiteMenu";


.SnCard{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.052);
    border: none;
}